<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/code.jquery.com_jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <title>Сервис поиска автонарушителей</title>
</head>
<body>

<div class="container-fluid p-0">
    <header th:insert="~{blocks/header :: header}"></header>
    <div class="container mt-2">

        <ul>
            <li><a th:href="@{/accidents}">Все правонарушения</a></li>
        </ul>
        <table class="table">
            <thead>
            <tr>
                <th class="col-3 text-center">#</th>
                <th class="col-3 text-center">Заголовок</th>
                <th class="col-3 text-center">Содержание</th>
                <th class="col-3 text-center">Адрес</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="accident: ${accidents}">
                <td class="text-center"><span th:text="${accident.id}"></span></td>
                <td>
                    <a th:href="@{|/updateAccident?id=${accident.id}|}">
                        <span th:text="${accident.name}"></span>
                    </a>
                </td>
                <td class="text-center"><span th:text="${accident.text}"></span></td>
                <td class="text-center"><span th:text="${accident.address}"></span>
            </tr>
            </tbody>
        </table>
    </div>
     <footer th:insert="~{blocks/footer :: footer}"></footer>
</div>
</body>
</html>