<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/"></a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link" href="/"><img src="/img/logo.png"></a>
                    <a class="nav-item nav-link" href="#">Главная</a>
                    <a class="nav-item nav-link" th:href="@{/accidents}">Инциденты</a>
                    <a class="nav-item nav-link active" th:href="@{/addAccident}">Добавить Инцидент</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div th:text="${user}"></div>
        </div>
    </nav>
</div>